.section-title .title span {
  color: var(--clr-primary-5);
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 3rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
