#about {
  width: 90vw;
  height: 100vh;
  display: flex;
  scroll-margin-top: 0;
  margin: auto;
  padding-top: 5rem;
}
.about-photo {
  width: 80%;
}
@media (max-width: 991px) {
  .row > * {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 991px) {
  .about-img::before {
    content: "";
    bottom: 1.5rem;
    right: 1.5em;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    box-sizing: border-box;
  }

  .about-img {
    position: relative;
    transition: 0.5s all;
  }
  .about-photo {
    position: relative;
  }
}
